
main{
    width: 100%;
    min-height: 120vh;
    background-image: url(../images/2611227.webp);
}
main::after, main::before{
    content: '';
    position: absolute;
    bottom: -1px;      
}
main::after{
    right: 0;
    border-left: 50vw solid transparent;
    border-right: 49vw solid transparent;
    border-bottom: 50px solid white;
}
main .headerLogo{
    font-family: R30;
    cursor: pointer;
}
main .headerLogo:hover > img{
    filter: invert(100);
}
main .headerLogo:hover span{
    color: #ff3791;
}
main .headerLogo:hover .minitext{
    color: #0049d2;
}
main .headerLogo .minitext{
    font-family: R30;
}
main .banner{
    width: 100%;
    height: 500px;
}
main .banner video{
    filter: invert(100);
    height: 250px !important;
}
main .banner .message h1{
    font-size: 1.5rem;
}
main .banner .message h5{
    font-size: .7rem;
}
/**/
.midContent{
    background: transparent;
}

.midContent>article{
    height: 100%;
}
.midContent .a2 video{
    height: 180px;
}
.midContent article .elements img{
    width: 80px !important
}
.midContent article .elements > div > h4{
    font-size: 1.5rem;
}
.midContent article .elements > div > span{
    font-size: .7rem;
}
.midSecondContent video{
    width: 350px !important;
    height: 250px;
}
.midSecondContent{
    background-image: url(../images/2611227.webp);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
/**/
.lastContent .row > .box{
    width: 90%;
    font-size: .8rem;
}

/**/
.offerframe .offerdetails{
    background-color: #eee;
    border-radius: 20px;
}
.offerframe .offerheader{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
/**/
footer{
    position: relative;
    width: 100%;
    min-height: 200px;
    background-image: url(../images/2611227.webp);
    display: grid;
    grid-template-areas: 'first'
                         'second'
                         'third'
                         'address';
}
footer::after{
    content: '';
    position: absolute;
    top: -1px;
    border-right: 98vw solid transparent;
    border-top: 60px solid white;
    z-index: 1;
}
footer .fFirst{
    grid-area: first;
}
footer .fSecond{
    grid-area: second;
}
footer .fSecond video{
    width:200px;
    align-self: center;
    filter: grayscale(100);
}
footer .fThird{
    grid-area: third;
}
footer address{
    grid-area: address;
    background: linear-gradient(to right, crimson, #d91cb7);
    color: white;
    min-height: 60px;
}
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
@media only screen and (min-width: 576px){
    main .headerLogo img{
        width: 80px;
        height: 124px;
    }
    main .banner img{
        height: 200px !important;
    }
    .lastContent .row > .box{
        width: 45%;
    }
    footer{
        grid-template-areas: 'second second third'
                             'first first third'
                             'address address address';
    }
}
@media only screen and (min-width: 768px){
    main .banner .message h1{
        font-size: 2.5rem;
    }
    main::after{
        border-bottom: 90px solid white;
    }
}
@media only screen and (min-width: 992px){
    main .banner video{
        height: 300px !important;
    }
    .lastContent .row > .box{
        width: 20%;
    }
    footer{
        grid-template-areas: 'first second third'
                             'first second third'
                             'address address address';
    }
}