@font-face{
    font-family: R10;
    src: url(../fonts/Raleway-ExtraLight.ttf);
}
@font-face{
    font-family: R11;
    src: url(../fonts/Raleway-ExtraLightItalic.ttf);
}
@font-face{
    font-family: R20;
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face{
    font-family: R21;
    src: url(../fonts/Raleway-RegularItalic.ttf);
}
@font-face{
    font-family: R30;
    src: url(../fonts/Raleway-Bold.ttf);
}
@font-face{
    font-family: R31;
    src: url(../fonts/Raleway-BoldItalic.ttf);
}
@font-face{
    font-family: L10;
    src: url(../fonts/Lemonada-Light.ttf);
}
@font-face{
    font-family: L20;
    src: url(../fonts/Lemonada-Regular.ttf);
}
@font-face{
    font-family: L30;
    src: url(../fonts/Lemonada-SemiBold.ttf);
}
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
*{
    transition: .3s linear;
}
.r10{
    font-family: R10;
}
.r11{
    font-family: R11;
}
.r20{
    font-family: R20;
}
.r21{
    font-family: R21;
}
.r30{
    font-family: R30;
}
.r31{
    font-family: R31;
}
.l10{
    font-family: L10;
}
.l20{
    font-family: L20;
}
.l30{
    font-family: L30;
}
a,button{
    cursor:pointer;
}


.hr-v{
    width: 0px;
    border:none;
}
.hr{
    height: 0px;
}

.bg-pink{
    background-color: #ff3791;
}

.popup{
    position: relative;
}
.popup::after{
    position: absolute;
    background-color:red;
    top: -12px;
    right: -6px;
    padding: 1px 4px;
    border-radius: 4px;
    color:white;
    animation: effect1 alternate infinite .5s;
}
@keyframes effect1{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}
.popupNew::after{
    content: 'Nuevo';
}
.popupOffers::after{
    content: 'Ofertas!';
}

/*animation*/
.backeffect1{
    background-color: black;
    background-size: cover;
    background-repeat: repeat;
    animation: beffect1 alternate infinite 6s;
    position: relative;
    box-shadow: inset 0 0 200px black;
}
@keyframes beffect1{
    0%{
        background-position: -5px;
    }
    25%{
        background-position: -15px -1px;
    }
    50%{
        background-position: -5px;
    }
    75%{
        background-position: -1px -15px;
    }
}
